<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084848035799-rjlg6su5nc5505mlc6uk3jlbcepkiqlp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084848035799-rjlg6su5nc5505mlc6uk3jlbcepkiqlp</string>
	<key>API_KEY</key>
	<string>AIzaSyDI1j7awo0_78K2IQh7IqVVcHwU0VpTn8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1084848035799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.honor.aerie</string>
	<key>PROJECT_ID</key>
	<string>aerie-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>aerie-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084848035799:ios:a883feee540a8c5c36dd92</string>
</dict>
</plist>